@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.certification-img {
  padding: 0.5rem !important;
}

.theme-scroll {
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-scroll-home {
  background-image: url("/images/cal1.jpg"); 
  height: 650px; 
}

.theme-scroll-services {
  background-image: url("/images/services_cover.png");
  height: 320px; 
}